.admin-bar {
	#sidebar-toggle:after {
		top: 17px;
	}
}
#sidebar-toggle {
	display: block;
	position: absolute;
	z-index: 3;
	top: -40px;
	right: 0;
	height: 40px;
	width: 140px;
	color: #fff;
	line-height: 140px;
	text-align: center;
	text-decoration: none;
}
#sidebar-toggle:before {
	top: 40px;
}
.sidebar-toggle i {
	font-size: 45px;
	margin-top: 60px;
	margin-left: 15px;
	transition: 0.4s;
	position: fixed
}
#sidebar-toggle:after {
	content: '';
	display: block;
	position: fixed;
	border-top: 140px solid #5D9CA1;
	border-left: 140px solid transparent;
	z-index: -1;
	transition: 0.4s ease;
}
#sidebar-toggle:after {
	top: 0;
}
.admin-bar .sidebar-toggle {
	margin-top: 32px;
}
.header-top {
	position: relative;
	background-color: #B32938;
	height: 310px;
	background-position: center center;
	background-repeat: no-repeat;
}
.header-bottom {
	background-color: #5D9CA1;
	height: 90px;
	border-top: 5px solid $color_main_2;
}
.site-title,
.site-description {
	width: $site-width;
	max-width: $max-width;
	margin: 0 auto;
}
.site-description{
	padding-left: 180px;
	color: #fff;
	margin-top: 5px;
	font-weight: 300;
	font-size: 1.8rem;
}
.site-title .avatar {
	top: 70px;
	position: relative;
	border-radius: 100px;
	border: 5px solid $color_main_2;
	margin-right: 15px;
}
.site-title {
	&:before {
		content: '';
		display: block;
		height: 150px;
	}
	font-size: 52px;
	font-size: 5.2rem;
	a {
		text-decoration: none;
		color: #fff;
		text-shadow: 2px 2px #5D9CA1;
	}
}

.menu-open {
	.flyout-menu {
		visibility: visible;
		right: 0;
		overflow: scroll;
	}
	.sidebar-toggle i {
		transform: rotate(45deg);
		transition: all 0.7s ease 0s;
	}
	#sidebar-toggle:before, #sidebar-toggle:after {
		border-top: 140px solid #B32938;
	}
}

.flyout-menu {
	background: hsla(210, 7%, 16%, 0.95);
	color: white;
	float: right;
	width: 50%;
	right: -50%;
	transition: all 0.7s ease 0s;
	position: fixed;
	z-index: 2;
	padding: 3em 4em 4em 4em;
	height: 100%;
	> aside:last-child {
		margin-bottom: 7em;
	}
	h1 {
		font-size: 1.5em;
		text-transform: uppercase;
	}
	aside {
		ul {
			list-style: none;
			margin: 0;
		}
		li {
			margin: 0 0 5px 0;
		}
	}
}

