.site-content {
	background-color: $color-background;
}
.content-area {
	width: $site-width;
	margin: 0 auto;
}
.entry-title {
	font-size: 3.1rem;
	a {
		text-decoration: none;
		font-weight:700;
	}
}
.site-info {
	width: $site-width;
	margin: 0 auto;
}
.site-footer {
	background-color: $color-secondary;
}
.site-info {
	a {
		color: $color-background;
	}
	padding: 10px 0;
}
