hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

@import "tables";

a {
	text-decoration: none;
}
.entry-content a, 
.entry-summary a, 
.page-content a, 
.comment-content a {
	border-bottom: 1px solid #5D9CA1;
}
a img {
	vertical-align: middle;
}