.main-navigation {
	clear: both;
	display: block;
	width: $site-width;
	max-width: $max-width;
	margin: 0 auto;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 3.5em;
			left: -999em;
			z-index: 99999;
			background: white;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		padding: 20px;

		&:hover {
			background: $color_main_1;
			> a {
				color: #fff;
			}
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item a,
	.current-menu-item a {
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		margin: 15px auto;
		font-size: 1.2em;
		padding: 10px 15px;
		color: #818082;
		&:hover {
			color: $color_main_1;
		}
		li {
			float: none;
			border-bottom: 1px solid white;
			padding: 15px;
			ul{
				display: block;
				float: none;
				position: relative;
				left: 0;
				box-shadow: 0px 0px 0px;
				background: none;
				top: 0;
				a {
					color: #eee;
				}
				li{
					padding-left: 0;
					margin-left: 15px;
					&:last-child {
						border-bottom: none;
					}
				}
			}
			ul.show-children {
					display: block;
				}
		}
		a {
			color: #fff;
		}
	}
	.main-navigation button {
		background: none repeat scroll 0 0 white;
	}
	.main-navigation ul {
		display: none;
	}
	.site-header {
		background: $color_main_1;
	}
	.menu-all-pages-container {
		li {
			float: none;
			border-bottom: 1px solid white;
			a {
				color: white;
			}
		}
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}