#main {
	max-width: $max-main-width;
	margin: 0 auto;
}
.sticky {
	display: block;
	background: darken($color_main_2, 10);
	padding: 0 20px;
}
.entry-content {
	min-height: 100px;
}
.hentry {
	margin: 0 0 2.5em;
	padding-bottom: 2.5em;
	border-bottom: 1px solid #5D9CA1;
	overflow: hidden;
}
.entry-meta {
	margin: 0;
	color: #5D9CA1;
	span a {
		text-decoration: none;
		color: #5D9CA1;
		text-transform: uppercase;
	}
}
.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}
.posted-on {
	margin: 20px 0 0 0;
	span {
		color: #B32938;
		a {
			color: #B32938;
			border-bottom: 1px solid #B32938;
		}
	}
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-footer {
	display: block;
	margin: 1.5em 0 0;
	span {
		display: inline-block;
	    text-transform: uppercase;
	    border-bottom: 1px solid #ccc;
    	margin-bottom: 0.5em;
    	padding-bottom: 0.5em;
	}
	i {
		color: #5D9CA1;
		margin-right: 5px;
	}
}

/*	Single Posts  */
.single .content-area {
	h1 {
		margin: 10px 0;
	}
	.entry-meta {
		margin-top: 40px;
	}
}

