.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}
.entry-meta {
	margin: 0 0 1.2em;
	color: #5D9CA1;
	span a {
		text-decoration: none;
		color: #5D9CA1;
	}
}
.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}